@charset "UTF-8";
/*メディアクエリmixin*/
/*メディアクエリmixin終了*/
header {
  background-color: rgba(235, 144, 0, 0);
  height: 4rem;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.5rem;
}

header .header-inner .header-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 320px;
}

@media screen and (max-width: 575px) {
  header .header-inner .header-logo {
    width: 192px;
  }
}

@media screen and (max-width: 991px) {
  header .header-inner #nav-toggle {
    cursor: pointer;
    display: block;
    height: 2rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 10000;
  }
}

@media screen and (min-width: 992px) {
  header .header-inner #nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  header .header-inner #nav-toggle:hover span:nth-child(1) {
    top: 0.1563rem;
  }
  header .header-inner #nav-toggle:hover span:nth-child(3) {
    top: 1.4375rem;
  }
}

@media screen and (max-width: 991px) {
  header .header-inner #nav-toggle > div {
    position: relative;
    width: 2.25rem;
  }
}

@media screen and (max-width: 991px) {
  header .header-inner #nav-toggle span {
    background: #FFFFFF;
    display: block;
    height: 0.0625rem;
    left: 0;
    position: absolute;
    -webkit-transition: top 0.5s ease, -webkit-transform 0.6s ease-in-out;
    transition: top 0.5s ease, -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, top 0.5s ease;
    transition: transform 0.6s ease-in-out, top 0.5s ease, -webkit-transform 0.6s ease-in-out;
    width: 100%;
  }
  header .header-inner #nav-toggle span:nth-child(1) {
    top: 0;
  }
  header .header-inner #nav-toggle span:nth-child(2) {
    top: 0.875rem;
  }
  header .header-inner #nav-toggle span:nth-child(3) {
    top: 1.75rem;
  }
}

@media screen and (max-width: 991px) {
  header .header-inner #gloval-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFFFF;
    bottom: 0;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    visibility: hidden;
    z-index: 990;
  }
}

@media screen and (min-width: 992px) {
  header .header-inner #gloval-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: auto;
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) {
  header .header-inner #gloval-nav a {
    color: #000000;
    display: block;
    padding: 0.625rem 0;
    text-decoration: none;
    -webkit-transition: color 0.6s ease;
    transition: color 0.6s ease;
  }
  header .header-inner #gloval-nav a:hover {
    color: #666666;
  }
}

@media screen and (max-width: 991px) {
  header .header-inner #gloval-nav ul {
    list-style: none;
  }
}

@media screen and (min-width: 992px) {
  header .header-inner #gloval-nav ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: normal;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  header .header-inner #gloval-nav ul li {
    opacity: 0;
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
    -webkit-transition: opacity 0.2s ease, -webkit-transform 0.6s ease;
    transition: opacity 0.2s ease, -webkit-transform 0.6s ease;
    transition: transform 0.6s ease, opacity 0.2s ease;
    transition: transform 0.6s ease, opacity 0.2s ease, -webkit-transform 0.6s ease;
  }
  header .header-inner #gloval-nav ul li:nth-child(2) {
    -webkit-transition-delay: 0.10s;
            transition-delay: 0.10s;
  }
  header .header-inner #gloval-nav ul li:nth-child(3) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  header .header-inner #gloval-nav ul li:nth-child(4) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  header .header-inner #gloval-nav ul li:nth-child(5) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  header .header-inner #gloval-nav ul li:nth-child(6) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  header .header-inner #gloval-nav ul li:nth-child(7) {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  header .header-inner #gloval-nav ul li:nth-child(8) {
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
  }
  header .header-inner #gloval-nav ul li:nth-child(9) {
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
  header .header-inner #gloval-nav ul li:nth-child(10) {
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
  }
}

@media screen and (min-width: 992px) {
  header .header-inner #gloval-nav ul li {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    white-space: nowrap;
  }
  header .header-inner #gloval-nav ul li a {
    color: #FFFFFF;
    position: relative;
  }
}

@media screen and (min-width: 992px) {
  header .header-inner #gloval-nav ul li .active a {
    border-bottom: 0.125rem solid #008090;
  }
}

footer {
  background-color: #EB9000;
  color: #FFFFFF;
  overflow: hidden;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  position: relative;
  width: 100%;
}

footer .footer-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 992px) {
  footer .footer-inner {
    margin: 0 auto;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  footer .footer-inner {
    margin: 0 auto;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  footer .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  footer .footer-inner .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-inner .footer-bottom address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer-inner .footer-bottom address p {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 767px) {
  footer .footer-inner .footer-bottom {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  footer .footer-inner .footer-bottom address {
    padding-left: 2.5rem;
  }
}

footer .footer-inner .footer-bottom .footer-logo {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

footer .footer-inner .footer-bottom address p {
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

footer .footer-inner .footer-bottom address p span {
  display: block;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  footer .footer-inner .footer-top {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  footer .footer-inner .footer-top {
    display: none;
  }
}

footer .footer-inner .footer-top ul {
  font-weight: normal;
  padding: 0;
}

footer .footer-inner .footer-top li {
  line-height: 2.5;
}

footer .footer-inner .footer-top li a {
  color: #FFFFFF;
  font-size: 0.75rem;
  position: relative;
  white-space: nowrap;
}

footer .footer-inner .footer-top li a::before {
  background: #FFFFFF;
  bottom: -0.125rem;
  content: '';
  height: 0.0625rem;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 0%;
}

footer .footer-inner .footer-top li a:hover::before {
  width: 100%;
}

footer .footer-copyright {
  font-size: 0.8rem;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .open header .header-inner {
    overflow: hidden;
  }
  .open header .header-inner #nav-toggle span {
    background: #000000;
  }
  .open header .header-inner #nav-toggle span:nth-child(1) {
    top: 0.9375rem;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .open header .header-inner #nav-toggle span:nth-child(2) {
    left: 50%;
    top: 0.9375rem;
    width: 0;
  }
  .open header .header-inner #nav-toggle span:nth-child(3) {
    top: 0.9375rem;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .open header .header-inner #gloval-nav {
    opacity: 1;
    visibility: visible;
  }
  .open header .header-inner #gloval-nav li {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity 0.9s ease, -webkit-transform 1s ease;
    transition: opacity 0.9s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity 0.9s ease;
    transition: transform 1s ease, opacity 0.9s ease, -webkit-transform 1s ease;
  }
}

.head-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EB9000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 260px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .head-title {
    height: 100px;
  }
}

.head-title h1 {
  background-color: #FFFFFF;
  color: #000000;
  display: inline-block;
  font-size: 1.25rem;
  letter-spacing: 0.2em;
  margin: auto auto auto auto;
  padding: 1rem 3.5rem;
}

@media screen and (max-width: 767px) {
  .head-title h1 {
    padding: 1rem 2rem;
  }
}
/*# sourceMappingURL=import-2-1.css.map */