.detail-container {
  @include mq-down(lg) {
    overflow :auto;
  }  background-color :#FFFFFF;
  border :1px solid #CCCCCC;
  border-radius :4px;

  .detail-inner {
    @include mq-down(lg) {
      width :900px;
    }  border-bottom :1px solid #CCCCCC;
    display :flex;
    flex-wrap :wrap;
    font-size :12px;
    justify-content :left;
    text-align :center;

    &:last-child {
      border-bottom :none;
    }
    &:first-child {
      background-color :lighten($color :$black, $amount :90);
    }
    dt {
      color :#333333;
      margin :0;
      padding :0.25rem 1rem;
    }
    dd {
      margin :0;
      padding :0.5rem 2rem;
    }
    .column1 {
      width :13%;
    }
    .column2 {
      width :32%;
    }
    .column3 {
      width :27%;
    }
    .column4 {
      width :27%;
    }
  }
}

.com_table {
  margin-top :40px;
  table-layout :fixed;
  width :100%;
  th {
    background-color :$orange;
    color :$white;
    letter-spacing :0.15em;
    padding :0.4rem;
    text-align :center;
    vertical-align :middle;
  }
  tr {
    border-top :1px solid $white;
  }
  td {
    background-color :lighten($color :$orange, $amount :50);
    border-left :1px solid $white;
    padding :1.4rem 0.3rem;
    text-align :center;
    vertical-align :middle;
  }
}

.admission-detail {
  padding-top :3rem;
  h2 {
    padding-bottom :2rem;
    text-align :center;
  }
}

.admission-flow {
  padding-top :4rem;
  h2 {
    text-align :center;
  }
  .flow-list {
    padding-top :2rem;
    li {
      @include mq-down(md) {
        text-align :left;
      }  padding-bottom :1.5rem;
      position :relative;
      text-align :center;
    }
    span {
      text-align :center;
    }
    h3 {
      font-size :1.25rem;
    }
    .triangle {
      margin :0 auto;
    }
    p {
      margin-bottom :0.5rem;
    }
  }
}

.observation {
  padding-top :3rem;
  h2 {
    padding-bottom :2rem;
    text-align :center;
  }
  p {
    padding-bottom :3rem;
  }
}

.triangle {
  border-color :#000000 transparent transparent transparent;
  border-style :solid;
  border-width :15px 15px 0 15px;
  height :0;
  width :0;
}