#admission-head {
  background-image :url(asset/admission.png);
  background-size :cover;
}

.detail-container {
  @include mq-down(lg) {
    overflow :auto;
  }  background-color :#FFFFFF;
  border :1px solid #CCCCCC;
  border-radius :4px;

  .detail-inner {
    @include mq-down(lg) {
      width :900px;
    }  border-bottom :1px solid #CCCCCC;
    display :flex;
    flex-wrap :wrap;
    font-size :12px;
    justify-content :left;
    text-align :center;

    &:last-child {
      border-bottom :none;
    }
    &:first-child {
      background-color :lighten($color :$black, $amount :90);
    }
    dt {
      color :#333333;
      margin :0;
      padding :1rem 1rem 0.25rem;
    }
    dd {
      margin :0;
      padding :1rem 2rem;
    }
    .column1 {
      width :13%;
    }
    .column2 {
      width :32%;
    }
    .column3 {
      width :27%;
    }
    .column4 {
      width :27%;
    }
  }
}

.com_table {
  display :none;
  margin-top :40px;
  table-layout :fixed;
  width :100%;
  th {
    background-color :$orange;
    color :$white;
    letter-spacing :0.15em;
    padding :0.4rem;
    text-align :center;
    vertical-align :middle;
  }
  tr {
    border-top :1px solid $white;
  }
  td {
    background-color :lighten($color :$orange, $amount :50);
    border-left :uuuuuuuuuuuuuuuuuuuuu1px solid $white;
    padding :1.4rem 0.3rem;
    text-align :center;
    vertical-align :middle;
  }
}

.admission-detail {
  padding-top :3rem;
  h2 {
    font-family :$font-x;
    padding-bottom :2rem;
    text-align :center;
  }
}

.admission-flow {
  padding-top :6rem;
  h2 {
    font-family :$font-x;
    text-align :center;
  }
  .flow-list {
    padding-top :2rem;
    .flow-contents {
      background-color :lighten($color :$gray, $amount :50);
      margin :1rem 2rem;
      padding-bottom :1rem;
      padding-top :1rem;
    }
    li {
      @include mq-down(md) {
        text-align :left;
      }  position :relative;
      text-align :left;
    }
    span {
      text-align :center;
    }
    h3 {
      font-size :1.25rem;
      margin-bottom :0;
      padding-left :1rem;
    }
    p {
      margin-top :0.5rem;
      padding-left :1rem;
      padding-right :1rem;
    }
    .triangle {
      margin :0 auto;
    }
  }
}

.observation {
  padding-bottom :3rem;
  padding-top :6rem;
  .image {
    @include mq-down(sm) {
      padding-top :50%;
    }  margin :0 0 2rem;
    overflow :hidden;
    padding-top :60%;
    position :relative;
    text-align :center;

    img {
      height :100%;
      left :50%;
      object-fit :cover;
      position :absolute;
      top :50%;
      transform :translate(-50%,-50%);
    }

    .mask {
      background-color :rgba($color :#000000, $alpha :0.4);
      height :100%;
      left :0;
      opacity :0;
      position :absolute;
      top :0;
      width :100%;
    }
  }
  .observation-contents {
    padding-bottom :3rem;
  }
  .observation-text {
    align-items :center;
    display :flex;
    flex-direction :column;
    justify-content :center;
  }

  h2 {
    font-family :$font-x;
    padding-bottom :2rem;
    text-align :center;
  }

  .observation-inner {
    @include mq-up(md) {
      align-items :center;
      display :flex;
    }  border-bottom :1px solid $black;
    color :$black;
    font-size :0.75rem;
    padding :0.8rem 0;

    dt {
      @include mq-up(md) {
        text-align :center;
        width :30%;
      }  font-size :1.25rem;
      margin :0 ;
    }
    .dd-container {
      @include mq-up(md) {
        width :70%;
      }  margin :0;
      dd {
        font-size :1rem;
        letter-spacing :0.05em;
        margin :0;
      }
    }
  }

  .observation-detail {
    margin :0 auto;
    max-width :720px;
  }
}

.triangle {
  border-color :#000000 transparent transparent transparent;
  border-style :solid;
  border-width :15px 15px 0 15px;
  height :0;
  width :0;
}