$navy :#001E38;
$orange :#F18B1A;
$black :#000000;
$white :#FFFFFF;
$gray :#707070;
$blue :#1718EB;
$water :#18EBE1;
$yellow :#EBC70D;
$red :#EB520C;
$spring :#F2A0A1;
$summer :#AACF52;
$autumn :#762E05;
$winter :#BBC8E6;