
.season-container {
  .season-inner {
    text-align :center;
  }
}

.season {
  background :$orange;
  border-radius :50%;
  display :inline-block;
  height :80px;
  position :relative;
  width :80px;
}

.season p {
  color :$white;
  display :inline-block;
  left :0;
  position :absolute;
  text-align :center;
  top :50%;
  -webkit-transform :translateY(-50%);
          transform :translateY(-50%);
  width :80px;
}


.season-wrapper {
  padding-top :3rem;
}


.event-wrapper {
  padding-top :5rem;
}
.season-event {
  padding-bottom :5rem;

  .season-grade {
    @include mq-down(md) {
      padding-bottom :2rem;
    }

@include mq-up(md) {
      padding-left :7.5%;
    }
  }

  .event-container {
    margin :0;
    .season-event {
      padding-bottom :3rem;
    }

    .event-inner {
      @include mq-up(md) {
        align-items :center;
      }  color :$black;
      font-size :0.75rem;
      padding :0.8rem 0;
      dt {
        font-size :1.25rem;
        margin :0 ;
      }
      .dd-container {
        @include mq-up(md) {
        }  margin :0;
        dd {
          font-size :1rem;
          letter-spacing :0.05em;
          margin :0;
        }
      }
    }
  }
}