
.season-container {
  .season-inner {
    text-align :center;
  }
}

.season {
  background :$orange;
  border-radius :50%;
  display :inline-block;
  height :80px;
  position :relative;
  width :80px;
}

.season p {
  color :$white;
  display :inline-block;
  left :0;
  position :absolute;
  text-align :center;
  top :50%;
  -webkit-transform :translateY(-50%);
          transform :translateY(-50%);
  width :80px;
}


.season-wrapper {
  padding-top :3rem;
}


.event-wrapper {
  padding-top :5rem;
}
.season-event {
  padding-bottom :5rem;

  .season-grade {
    @include mq-down(md) {
      padding-bottom :2rem;
    }

@include mq-up(md) {
      padding-left :7.5%;
    }
  }

  .event {
    display :flex;
    margin-bottom :0.5rem;
    p {
      margin-bottom :0.5rem;
    }
  }
  .event-date {
    align-items :center;
    display :flex;
    width :30%;
  }
  .event-name {
    width :65%;
  }
}