.facility-wrapper {
  padding-bottom :3rem;
  padding-top :3rem;
  .facility-container {
    .facility {
      @include mq-up(md) {
        padding-top :1.5rem;
      }

@include mq-down(md) {
        padding-top :1.5rem;
      }

      figcaption {
        text-align :center;
      }
    }
  }
}