.feature-wrapper {
  padding-top :4rem;
  .feature-contents {
    @include mq-up(md) {
      flex-direction :row;
      justify-content :space-between;
    }

@include mq-down(md) {
      flex-direction :column;
    }  display :flex;
    padding-top :2rem;

    .image-container {
      @include mq-down(md) {
        padding-top :1.5rem;
      }

@include mq-up(md) {
        width :45%;
      }
    }
    .text-container {
      @include mq-up(md) {
        width :45%;
      }
    }
  }
}