.feature-wrapper {
  padding-bottom :2rem;
  padding-top :2rem;
  .feature-contents {
    @include mq-up(md) {
      flex-direction :row;
      justify-content :space-between;
    }

@include mq-down(md) {
      flex-direction :column;
    }  display :flex;
    padding-top :2rem;

    .image-container {
      @include mq-down(md) {
        padding-top :1.5rem;
      }

@include mq-up(md) {
        width :45%;
      }

      .image {
        @include mq-down(md) {
          padding-top :50%;
        }

@include mq-up(md) {
          padding-top :150%;
        }

@include mq-up(lg) {
          padding-top :100%;
        } margin :0 0 2rem;
        overflow :hidden;
        position :relative;
        text-align :center;

        img {
          height :100%;
          left :50%;
          object-fit :cover;
          position :absolute;
          top :50%;
          transform :translate(-50%,-50%);
        }

        .mask {
          background-color :rgba($color :#000000, $alpha :0.4);
          height :100%;
          left :0;
          opacity :0;
          position :absolute;
          top :0;
          width :100%;
        }
      }
    }
    .text-container {
      @include mq-up(md) {
        width :45%;
      }
    }
  }
  h2 {
    border-left :4px solid $black;
    font-family :$font-x;
    padding-left :1.5rem;
  }
}