.boss-message {
  padding-top :3rem;
  h2 {
    text-align :center;
  }
  .container {
    @include mq-down(md) {
      flex-direction :column;
    }  display :flex;
    justify-content :space-between;
    padding-top :2rem;


    .boss-view {
      @include mq-down(md) {
        margin :0 0 1rem;
        overflow :hidden;
        padding-top :75%;
        position :relative;
        text-align :center;
        width :100%;

        img {
          height :100%;
          left :50%;
          object-fit :cover;
          object-position :0px -1rem;
          position :absolute;
          top :50%;
          transform :translate(-50%,-50%);
        }
      }
    }
    .message-container {
      .boss-text {
        @include mq-down(md) {
          font-size :0.875rem;
        }
      }
    }
  }
}


.history-container {
  margin :0;


  .history-inner {
    @include mq-up(md) {
      align-items :center;
      display :flex;
    }  border-bottom :1px solid $black;
    color :$black;
    font-size :0.75rem;
    padding :0.8rem 0;

    dt {
      @include mq-up(md) {
        text-align :center;
        width :30%;
      }  font-size :1.25rem;
      margin :0 ;
    }
    .dd-container {
      @include mq-up(md) {
        width :70%;
      }  margin :0;
      dd {
        font-size :1rem;
        letter-spacing :0.05em;
        margin :0;
      }
    }
  }
}


.history-wrapper {
  padding-top :4rem;
  h2 {
    padding-bottom :1;
    text-align :center;
  }
}
.profile {
  @include mq-down(md) {
    padding-bottom :4rem;
  }

@include mq-up(md) {
    padding-bottom :3rem;
  }  padding-top :4rem;

  h2 {
    text-align :center;
  }
  .container-bottom {
    padding-top :2rem;

    .image-container {
      @include mq-down(md) {
        .ggmap {
          display :none;
        }
      }

@include mq-up(md) {
        margin-bottom :2rem;
        margin-top :1rem;
      }  display :flex;
      flex-direction :column;
      justify-content :space-between;
    }
    .info-container {
      p {
        margin-bottom :0.5rem;
      }
      .name-inner {
        border-bottom :1px solid $black;
        margin :0.8rem 0;
      }
      .address-inner {
        border-bottom :1px solid $black;
        margin :0.8rem 0;
      }
      .contact-inner {
        border-bottom :1px solid $black;
        margin :0.8rem 0;
      }
      .dd-container {
        padding-top :0.5rem;
      }
    }
  }
  .ggmap {
    height :0;
    overflow :hidden;
    padding-bottom :66%;
    position :relative;
    iframe {
      height :100%;
      left :0;
      position :absolute;
      top :0;
      width :100%;
    }
  }
}
