.opentime-container {
  margin :0;
  padding-top :1rem;
  .opentime-inner {
    @include mq-up(md) {
      align-items :center;
      display :flex;
    }  border-bottom :1px solid $black;
    color :$black;
    font-size :0.75rem;
    padding :0.8rem 0;

    dt {
      @include mq-up(md) {
        text-align :center;
        width :30%;
      }  font-size :1.25rem;
      margin :0 ;
    }
    .dd-container {
      @include mq-up(md) {
        width :70%;
      }  margin :0;
      dd {
        font-size :1rem;
        letter-spacing :0.05em;
        margin :0;
      }
    }
  }
}

.opentime-wrapper {
  margin :0 auto;
  text-align :center;
  .container {
    max-width :800px;
  }
}

.grade-container {
  .grade-inner {
    text-align :center;
  }
}

.grade {
  background :$orange;
  border-radius :50%;
  display :inline-block;
  height :80px;
  position :relative;
  width :80px;
}

.grade p {
  color :$white;
  display :inline-block;
  left :0;
  position :absolute;
  text-align :center;
  top :50%;
  -webkit-transform :translateY(-50%);
          transform :translateY(-50%);
  width :80px;
}


.grade-wrapper {
  padding-top :3rem;
}


.schedule-wrapper {
  padding-top :5rem;
}


.schedule-container {
  margin :0;
  .schedule {
    padding-bottom :3rem;
  }

  .schedule-inner {
    @include mq-up(md) {
      align-items :center;
    }  color :$black;
    font-size :0.75rem;
    padding :0.8rem 0;
    dt {
      font-size :1.25rem;
      margin :0 ;
    }
    .dd-container {
      @include mq-up(md) {
      }  margin :0;
      dd {
        font-size :1rem;
        letter-spacing :0.05em;
        margin :0;
      }
    }
  }
}