#life-head {
  background-image :url(/asset/life.jpg);
  background-size :cover;
}

.opentime-container {
  margin :0;
  padding-top :1rem;
  h2 {
    font-family :$font-x;
  }
  .opentime-inner {
    @include mq-up(md) {
      align-items :center;
      display :flex;
    }  border-bottom :1px solid $black;
    color :$black;
    font-size :0.75rem;
    padding :0.8rem 0;

    dt {
      @include mq-up(md) {
        text-align :center;
        width :30%;
      }  font-size :1.25rem;
      margin :0 ;
    }
    .dd-container {
      @include mq-up(md) {
        width :70%;
      }  margin :0;
      dd {
        font-size :1rem;
        letter-spacing :0.05em;
        margin :0;
      }
    }
  }
}

.opentime-wrapper {
  margin :0 auto;
  padding-bottom :2rem;
  padding-top :3rem;
  text-align :center;
  .container {
    max-width :800px;
  }
}

.grade-wrapper {
  .grade-container {
    @include mq-up(sm) {
      max-width :720px;
      width :100%;
    }
    .grade-inner {
      text-align :center;
    }
  }
}

@mixin grade($size) {
  border-radius :50%;
  display :inline-block;
  height :$size;
  position :relative;
  width :$size;
  p {
    color :$white;
    display :inline-block;
    font-family :$font-x;
    left :0;
    position :absolute;
    text-align :center;
    top :50%;
    -webkit-transform :translateY(-50%);
            transform :translateY(-50%);
    width :$size;
  }
}

.grade {
  @include grade(60px);
}

.grade-big {
  @include grade(120px);
  p {
    font-size :1.5rem;
  }
}

#grade-1 {
  background-color :$yellow;
}
#grade-2 {
  background-color :$blue;
}

#grade-3 {
  background-color :$red;
}

#grade-4 {
  background-color :$water;
}

#schedule-1 {
  span {
    color :$yellow;
  }
}

#schedule-2 {
  span {
    color :$blue;
  }
}

#schedule-3 {
  span {
    color :$red;
  }
}

#schedule-4 {
  span {
    color :$water;
  }
}


.grade-wrapper {
  padding-top :3rem;
}


.schedule-wrapper {
  padding-bottom :2rem;
  padding-top :5rem;
}


.schedule-container {
  margin :0;

  .schedule {
    padding-bottom :5rem;
  }

  .schedule-contents {
    border-bottom :0.05rem solid $gray;
    margin-bottom :0.5rem;
    padding-bottom :0.5rem;
    &:last-child {
      border :none;
    }
  }

  .schedule-inner {
    @include mq-up(md) {
      align-items :center;
    }  color :$black;
    font-size :0.75rem;
    padding :0.8rem 0;
    .col-3 {
      padding :0;
      width :100%;
    }
    .col-9 {
      padding :0;
      width :100%;
    }
    dt {
      font-size :1rem;
      margin :0 auto;
      text-align :center;
    }
    .dd-container {
      @include mq-up(md) {
      }  margin :0;
      dd {
        font-size :1rem;
        letter-spacing :0.05em;
        margin :0;
      }
    }
  }
}