.safety-wrapper {
  padding-bottom :3rem;
  padding-top :4rem;
  .safety-contents {
    @include mq-up(md) {
      flex-direction :row;
      justify-content :space-between;
    }

@include mq-down(md) {
      flex-direction :column;
    }  display :flex;
    padding-top :2rem;

    .image-container {
      @include mq-down(md) {
        padding-top :1.5rem;
      }

@include mq-up(md) {
        width :45%;
      }
    }
    .text-container {
      @include mq-up(md) {
        margin :auto 0;
        width :45%;
      }
    }
  }
  h2 {
    font-family :$font-xu;
  }
}

#safety-2 {
  .safety-contents {
    @include mq-up(md) {
      flex-direction :row-reverse;
    }
  }
}